<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link href="./css/styles.css" rel="stylesheet" />
  </head>
  <body>
<%
    if (users.length > 0 && users !== undefined) {
%>
      <span>No. of records: <%= users.length %></span>
<%
    }
%>
      <div class="App">
        
      <table>
        <thead>
          <tr>
            <td>#</td>
            <td>Title</td>
            <td>First</td>
            <td>Last</td>
            <td>Gender</td>
            <td>DOB</td>
            <td>Country</td>
            <td>Phone</td>
            <td>Email</td>
            <td colspan="2">Picture</td>
            <td>Action</td>
          </tr>
        </thead>
        <%- body -%>
      </table>
  </div>
    <script src="./js/script.js"></script>
  </body>
</html>
