<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link href="./css/styles.css" rel="stylesheet" />
  </head>
  <body>
    <form>
      <table>
        <thead>
          <tr>
            <td>#</td>
            <td>Title</td>
            <td>First</td>
            <td>Last</td>
            <td>Gender</td>
            <td>DOB</td>
            <td>Country</td>
            <td>Phone</td>
            <td>Email</td>
            <td>Action</td>
          </tr>
        </thead>
        <%- body -%>
      </table>
    </form>
    <script src="./js/script.js"></script>
  </body>
</html>
