thead {
    text-align: center ;
    font-size: 12px;
    font-weight: bold;
}
.App {
    display: flex;
    margin: auto;
    justify-content: center;    
}

table {
    width: 100%;
}

td {
    justify-content: center;
    text-align: center;
}

.form-control, .form-select, .count {
    font-size: 12px;
}

.btn {
    display: table-column;
    justify-content: space-evenly;
    /* margin-left: 10px;
    margin-right: 10px; */
    width: 45px;
    /* height: 35px; */
    border: none; /* Remove borders */
    cursor: pointer; /* Mouse pointer on hover */
    padding: 0px;
}

i {
    display: flex;
    /* vertical-align: middle;
    text-align: center;
    justify-content: center; */
}

img {
    width: 30px;
    border-radius: 15px;
    cursor: pointer;
}

img:hover {
    transform:scale(2,2);
    /* transition: all 1s ease-out; */
}